@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* %% a와 ul을 바꾸기~~ */
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
/* 전체 레이아웃 */
.wrap {
  background-color: antiquewhite;
  width: 1200px;
  margin: auto;
}
/* 상단 */
.header {
  height: 100px;
  display: flex;
  background-color: darkcyan;
  align-items: center;
  text-align: center;
}
/* 상단왼쪽 */
.logo {
  width: 200px;
  background-color: darkcyan;
}
/* a는 직접 줘야한다 ~ 부모에서 적용안됌 딴던 되어도 칼라는 xxx */
.logo > a {
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: #fff;
}
/* 상단오른꼭 */
nav {
  width: 1000px;
  height: 100px;
  background-color: #ff7f50;
  position: relative;
}
#topMenu {
  background-color: #ff7f50;
  width: 800px;
  display: flex;
  position: absolute;
  right: 20px;
  bottom: 0;
}
#topMenu > li {
  /* line-height: 30px; */
  width: calc(100% / 4);
}
#topMenu > li > a {
  display: block;
  line-height: 60px;
  /* 글꼴 추가  */
  font-size: 20px;
  font-weight: 550;
}
#topMenu > li > a:hover {
  background-color: chartreuse;
  color: red;
}

/* 메인 */
.contents {
  width: 100%;
}
.hilling {
  width: 100%;
  padding: 20px;
}
.description {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  background-color: transparent;
}
.desc-img {
  width: 400px;
  height: 200px;
  border-radius: 20px;
  display: block;
  transition: all 0.3s;
  overflow: hidden;
}
.desc-img:hover img {
  transform: scale(1.2);
  overflow: hidden;
  filter: blur(1px);
}
/* 자세한 설명 */
.desc-detail {
  width: 600px;
  background-color: #ff7f50;
}
.detail-top {
  margin-bottom: 20px;
}
.p_top {
  margin-bottom: 10px;
}
.footer {
  margin: 40px;
  width: 100%;
}
.footer > ul {
  width: 100%;
  height: 100px;
  display: flex;
}
/* .footer > ul > li > a {
 display: block;
  line-height: 20px;
  margin: 10px;
} */
.footer > ul > li > a:hover {
  text-decoration: underline;
}
.footer > ul > li > a::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #333;
  margin: 0 20px;
}
.footer > ul > li:last-child a::after {
  content: none;
}
