@charset "utf-8"
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
  background-color: antiquewhite;
  width: 80%;
  margin: auto;
}
.header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header > h1 {
}
.manu {
  background-color: #5e5e5e;
  height: 50px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
}
.manu > a {
  padding: 10px;
  align-items: center;
  color: antiquewhite;
  text-decoration: none;
  position: relative;
}

/* @@@ |자 표시하고싶은대 안댐 ㅠㅠ */
.manu > a::after {
  position: absolute;
  /* transform: translatex(-50%); */
  top: 0;
  right: 0;
  width: 1px;
  height: 0;
  display: inline-block;
/* ???????????????? */
}
.manu > a:last-child::after {
/* ?????????????? */
}

